* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: rgb(58, 56, 56);
    display: flex;
    justify-content: center;
    align-items: center;
}

.global {
    display: flex;
    gap: 80px;
}

.global-window {
    border: 5px solid rgb(79, 232, 232);
    width: 450px;
    border-radius: 15px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.window {
    width: 100%;
    height: 200px;
    text-align: center;
    border-radius: 5px;
    border: 2px solid rgb(79, 232, 232);
    background-color: rgb(79, 232, 232);
}

.button-container {
    width: 100%;
    border: 2px solid rgb(79, 232, 232);
    border-radius: 5px;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.button-style {
    background-color: rgb(79, 232, 232);
    border: 2px solid  rgb(79, 232, 232);
    border-radius: 3px;
    width: 100px;
    height: 50px;
    margin: 0 20px;
    font-size: 26px;
    font-weight: bold;
    color: rgb(58, 56, 56);
}

.button-style:disabled {
   color: rgba(58, 56, 56, 0.5);
}

.not-error {
    color: rgb(58, 56, 56);
    font-size: 50px;
    font-weight: bold;

}

.message {
    width: 100%;
    height: 200px;
    border-radius: 5px;
    border: 2px solid rgb(79, 232, 232);
    color: rgb(79, 232, 232);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 26px;
}

.error {
    color: red;
    font-size: 50px;
    font-weight: bold;
}

.input-box-style {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
}

.text-input {
    font-weight: bold;
    font-size: 22px;
    color: rgb(58, 56, 56);
    text-align: center;
}

input{
    height: 50px;
    font-size: 18px;
    text-align: center;
}





