body{
    margin-left: 300px;
    margin-top: 300px;
    background-color: rgb(58, 56, 56);
}

.global-window {
    border: 2px solid rgb(79, 232, 232);
    width: 280px;
    height: 300px;
    border-radius: 15px;

    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    align-items: center;
    justify-content: center;
}

.window{
    width: 250px;
    height: 200px;
    text-align: center;
    border-radius: 5px;
    border: 2px solid rgb(79, 232, 232);
    background-color: rgb(79, 232, 232);
}

.button-style{
    background-color: rgb(79, 232, 232);
    border: 2px solid  rgb(79, 232, 232);
    border-radius: 3px;
    width: 100px;
    height: 50px;
    margin: 0 20px;
    font-size: 26px;
    font-weight: bold;
}

.error {
    color: red;
    font-size: 50px;
    font-weight: bold;
    padding: 30px;
}

.not-error {
    color: rrgb(59, 55, 55);
    font-size: 50px;
    font-weight: bold;
    padding: 30px;
}

