* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: rgb(58, 56, 56);
    display: flex;
    justify-content: center;
    align-items: center;
}

.global-window {
    border: 5px solid rgb(79, 232, 232);
    width: 450px;
    border-radius: 15px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.window {
    width: 100%;
    text-align: center;
    border-radius: 5px;
    border: 2px solid rgb(79, 232, 232);
    background-color: rgb(79, 232, 232);
}

.button-container {
    width: 100%;
    border: 2px solid rgb(79, 232, 232);
    border-radius: 5px;
    padding: 15px;
    display: flex;
    justify-content: center;
}

.button-style {
    background-color: rgb(79, 232, 232);
    border: 2px solid  rgb(79, 232, 232);
    border-radius: 3px;
    width: 100px;
    height: 50px;
    margin: 0 20px;
    font-size: 26px;
    font-weight: bold;
}

.error {
    color: red;
    font-size: 50px;
    font-weight: bold;
}

.not-error {
    color: rrgb(59, 55, 55);
    font-size: 50px;
    font-weight: bold;
}

